<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; {{site.author}} {{ site.time | date: '%Y' }}</p>
    <p class="m-0 text-center text-white small"><a href="{%- link about.md -%}">{%- translate about.title -%}</a></p>
  </div>
  <div class="container" style="margin-top: 3rem;">
    <div class="text-center">
      <p class="text-white medium">Hosting sponsored by</p>
      <img src="/assets/img/netcup/netcup_logo_white.svg" class="img-fluid", style="max-width: 20%;">
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>