<footer class="footer">
  <div class="container links">
    <p>Copyright &copy; {{site.author}} {{ site.time | date: '%Y' }}</p>
    <ul>
      <li><a href="{%- tl about -%}">{%- translate about.title -%}</a></li>
      <li style="margin-left: 1rem;"><a href="{%- tl privacy -%}">{%- translate privacy.title -%}</a></li>
    </ul>
  </div>
  <div class="container sponsors">
    <p>Hosting sponsored by</p>
    <img src="/assets/img/netcup/netcup_logo_white.svg" class="img-fluid" style="max-width: 20%;">
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>