<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {%- assign home = site.baseurl_root | append: '/' | append: site.lang | remove: site.default_lang -%}
    <a class="navbar-brand" href="{{ home }}">Home</a>

    {%- for lang in site.languages -%}
      {%- unless site.lang == lang -%}
        {%- assign default_lang = '/' | append: site.default_lang -%}
        {%- assign link = site.baseurl_root | append: '/' | append: lang | remove: default_lang | append: page.url -%}
        <a class="navbar-brand" href="{{ link }}">{%- translate langs.{{ lang }} -%}</a>
      {%- endunless -%}
    {%- endfor -%}

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {%- assign sorted_menu = site.menu | sort: 'order' -%}
        {%- for item in sorted_menu -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl | append: item.url }}">{%- translate item.title -%}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>