<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    {%- if site.lang == "de" -%} {%- assign home = "/de/" -%} {%- else  -%} {%- assign home = "/" -%} {%- endif -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ home }}">Home</a>
    {%- if site.lang == "en" -%}
      {%- capture lang -%}{%- translate langs.de -%}{%- endcapture -%}
      {%- capture link -%}{{ site.baseurl_root }}/de{{ page.url}}{%- endcapture -%}
    {%- else -%}
      {%- capture lang -%}{%- translate langs.en -%}{%- endcapture -%}
      {%- capture link -%}{{ site.baseurl_root }}{{ page.url}}{%- endcapture -%}
    {%- endif -%}
    <a class="navbar-brand" href="{{ link }}">{{ lang }}</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {%- for item in site.menu -%}
          <li class="nav-item">
            {%- if site.lang == "de" -%}
              {%- assign item_url = item.url | prepend: "/de" -%}
            {%- else -%}
              {%- assign item_url = item.url -%}
            {%- endif -%}
            <a class="nav-link" href="{{ item_url }}">{%- translate item.title -%}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>